page-change-password-firebase {
  .title{
      margin-top:10px !important;
      margin-left : 15px;
      font-size : 28px;
  }
  .sub-title{
      margin-top:10px !important;
      margin-left : 15px;
      font-size : 14px;
      color: #666;
  }
    
}
